.random-photo {
    &__button {
        margin-bottom: 1rem;
    }

    &__photo {
        width: 200px;
        height: 200px;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        background-color: rosybrown;
        & > img {
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            vertical-align: middle;
            
        }
    }
}
