.banner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin-bottom: 1rem;
    background-image: url(../../assets/images/landscape.jpg);
    background-position: center;
    background-size: cover;
    
    &__title {
        color: rgba(255, 255, 255, 0.87);
        font-weight: bold;
    }
}